.series-items .list-label {
  font-size: 11px;
  margin-left: 32px;
  text-transform: uppercase;
}
.series-items {
  padding: 22px 0px 12px 0px;
}
.series-item {
  position: relative;
  width: 116px;
  height: 171px;
  overflow: hidden;
  text-transform: uppercase;
  transition: width 0.3s ease;
  transition-delay: 0.2s;
  margin-top: 6px;
  margin-bottom: 24px;
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.3);
}
.series-items .swiper-scrollbar {
  display: none;
}
.series-items:not(.noscrollbar) .swiper {
  padding-bottom: 15px !important;
}
.series-items:not(.noscrollbar) .swiper-scrollbar {
  left: 32px !important;
  width: calc(100% - 64px) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.series-items:not(.noscrollbar) .swiper-scrollbar-drag {
  cursor: grab;
  max-height: 3px !important;
  background-color: rgba(255, 221, 72, 0.6) !important;
}
.series-item .item-title {
  font-size: 15px;
  font-weight: 600;
  padding: 12px 14px 2px 14px;
  transition: padding 0.3s ease;
  transition-delay: 0.2s;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.series-item .item-extra {
  font-size: 10px;
  padding: 0px 14px 0px 14px;
  /* color: #111; */
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 0.2s;
}
.series-item .item-btns {
  z-index: -2;
  position: absolute;
  bottom: 10px;
  left: 4px;
  transition: z-index 0.5s ease;
  transition-delay: 0.2s;
}
.series-item .item-bg {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 1;
  background-color: rgb(180, 180, 180);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease;
  transition-delay: 0.2s;
}
.series-item:not(.noanimation):hover {
  cursor: pointer;
  width: 312px;
}
.series-item:not(.noanimation):hover .item-bg {
  opacity: 0.2;
}
.series-item:not(.noanimation):hover .item-title {
  padding: 72px 14px 2px 14px;
}
.series-item:not(.noanimation):hover .item-extra {
  opacity: 1;
}
.series-item:not(.noanimation):hover .item-btns {
  z-index: 0;
}

@media (prefers-color-scheme: dark) {
  .series-item .item-bg {
    background-color: rgb(0, 0, 0);
  }
}
