body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(221, 221, 221);
}

@font-face {
  font-family: "SourceSansProLight";
  src: local("SourceSansProLight"),
    url("./assets/fonts/SourceSansPro/SourceSansPro-Light.ttf")
      format("truetype");
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(46, 46, 46);
  }
}
